
  @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


html, body {
  width: 100%;
  height: 100%;
  font-family: Arial;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

/*for glitch*/

#hehehe{
  font-family: 'Rajdhani', sans-serif;
  color:grey;
}
.container3 {
  color: var(--color:);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.right {
  text-align: right;
  width: 100%;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 2rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}

/*done glitch*/






canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
				border-radius:50%;
				height:260px;
				width:260px;
				border:2px solid black;
  
}

.header1 {
  font-family: 'Righteous', cursive;
  font-size: 6vw;
  color:white;
}

.header2 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.4vw;
  color:white;
}

.header3 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2.2vw;
  color:white;
}

.link1 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2.8vw;
  color: inherit;
  margin: 0px 5px 0px 5px;
  transition: 0.5s;
}

.link1:hover {
  color: #fc7a00;
}

@media screen and (max-width: 785px) {
  .header1 {
    font-size: 8vw;
  }
  .link1 {
    font-size: 4vw;
  }
}

@media screen and (max-width: 765px) {
  body {
    text-align: center;
  }
  .header1 {
    font-size: 9vw;
  }
  .header2 {
    font-size: 2.5vw;
  }
  .link1 {
    font-size: 5vw;
  }
}

@media screen and (min-width: 1390px) {
  .header2 {
    font-size: 1.2vw;
  }
}
